## .NET Core
bin/
obj/
Debug/
Release/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.vscode/
*.code-workspace

## Rider
.idea/

## Docker
*.env

## Local Development
appsettings.Development.json
*.Development.json

## SQLite
*.db
*.db-shm
*.db-wal

## Logs
*.log
logs/
